@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');

* {
    font-family: 'Sora', sans-serif;
}

.submit-form {
    max-width: 200px;
    margin: auto;
    
}

.form-group {
    padding: 5px 0px;
}

.form-button {
    justify-content: center;
    padding-top: 29px;
}

.adicionar-papel {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh
}